<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <nav th:fragment="nav" class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="collapse navbar-collapse" id="navbarNav">
        <a class="navbar-brand" href="/">Studentų sistema</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Grupės</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/students">Studentai</a>
            </li>
        </ul>

    </div>

    </nav>

</html>